<!--
<p>
  <app-favorite-color></app-favorite-color>
  
</p>
<p>
  <app-favorite-color-template-driven></app-favorite-color-template-driven>
</p>
-->
<select >
  <option *ngFor="let dateValue of dates; index as dateId">{{dateValue}}</option>
</select>
<p>Product List</p>
<div *ngFor="let product of products; index as productId">
  <span> {{product.id}}</span>
  <span>
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        {{ product.name }}
      </a>
    </h3>
  </span>
  <span *ngIf="product.description">
    Description: {{ product.description }}
  </span>
  <span>
    <h3>
      <a [title]="product.name + ' Specification '" [routerLink]="['/productspec', productId]">
        Specification of  {{ product.name }}
      </a>
    </h3>
  </span>
  <button (click)="share( product )">
    Share
  </button>
  <app-product-alerts [product]="product" (notify) = "onNotify( product )">

  </app-product-alerts>

  <span *ngIf="product.notification">
      You will be notified when  {{ product.name }} goes on sale.
  </span>
  
</div>
